// regular style toast
@import 'ngx-toastr/toastr';

.align-c{
    display: flex;
    align-items: baseline;
    height: 100vh;
}
section{
    background: linear-gradient(-45deg, #A14177, #aa5484, #af4a83, #c75696
    );
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.flex-d{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.img-div{
    width: 150px;
    margin: 0px auto;
}
.flex-d{
  
}
.icon-i{
    position: absolute;
    width: 150px;
    margin: 0px auto;

}
.btn{
    background: linear-gradient(-45deg, #A14177, #aa5484, #903a6b, #592442
    );
    border: none;
    border-radius: 0px 20px;
    // background-image: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?w=740&t=st=1674978069~exp=1674978669~hmac=10f48e0…);
    background-repeat: no-repeat;
    background-size: cover;

}
.card{
    padding: 26px !important;
    /* box-shadow: 0px 4px 10px 1px #c32026; */
    margin-bottom: 5px;
    border-radius: 0px 50px;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}