i{
  font-size: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: +999999;
  position: relative;
  right: 9px;
}
button{
  border: navajowhite;
  border-radius: 20px;
  background: white;
  font-size: 13px;
}
.icond{
  width: 100%;
  height: 100%;
  

}
.row-adjustment{
  width: 100%;
  margin: 0px auto;
}

// color
.card-11{
  background-image: linear-gradient(to right, #ff5200, #f05c1a, #ff631d, #f87e44, #a89e99);
  border-radius: 3px;
}
.card-12{
  background-image: linear-gradient(to right, #0087ff, #4c90fe, #6c9afd, #84a4fc, #98aefb);
  border-radius: 3px;
}
.card-13{
background-image: linear-gradient(to right, #3cc4bd, #63d3cd, #83e1dc, #a0f0ec, #bcfffc);
  border-radius: 3px;
}
.card-14{
  background-image: linear-gradient(to right, #545eb5, #7178c5, #8d92d5, #a9ade5, #c5c9f5);
  border-radius: 3px;
}
.card-15{
  background-image: linear-gradient(to right, #49f40a, #61e635, #71d94a, #7dcc5b, #85be69);
  border-radius: 3px;
}
.card-16{
  background-image: linear-gradient(to right, #b50249, #be1d4e, #db3368, #af2858, #f2a2c2);
  border-radius: 3px;
}
.card-17{
  background-image: linear-gradient(to right, #0a9b3a, #36b257, #53ca75, #6ee292, #89fbb0);
  border-radius: 3px;
}

.clr-w{
  color:white;
}
.round-div1{
  height: 146px;
  border-radius: 50%;
  border: 11px solid #FFC107;
  width: 150px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.round-div12{
  height: 146px;
  border-radius: 50%;
  border: 11px solid #00BCD4;
  width: 150px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.round-div13{
  height: 146px;
  border-radius: 50%;
  border: 11px solid #5663dd;
  width: 150px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.round-div14{
  height: 146px;
  border-radius: 50%;
  border: 11px solid #0a9b3a;
  width: 150px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.shape{
  border-bottom: 129px solid #f34e00;
  border-left: 53px solid transparent;
  width: 37%;
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  border-radius: 3px;
  
}
.s2{
  border-bottom: 129px solid #0087ff;
}
.s3{
  border-bottom: 129px solid #3cc4bd;
}
.s4{
  border-bottom: 129px solid #5663dd;
}
.s5{
  border-bottom: 129px solid #b50249;
}
.s6{
  border-bottom: 129px solid #0a9b3a;
}
@media only screen and (max-width: 767px) {
  .col-md-4 {
      flex: 0 0 100%;
      padding: 8px;
  }

  .round-div1,
  .round-div12,
  .round-div13,
  .round-div14 {
      height: 100px;
      border-width: 8px;
      width: 100px;
  }

  .clr-w {
      font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
      flex: 0 0 50%;
      padding: 8px;
  }

  .round-div1,
  .round-div12,
  .round-div13,
  .round-div14 {
      height: 120px;
      border-width: 10px;
      width: 120px;
  }

  .clr-w {
      font-size: 24px;
  }
  .h5-ro{
      font-size: 15px;
  }
}

/* Global styles here */

/* Mobile styles */
@media (max-width: 767px) {
  .row-adjustment {
      flex-wrap: wrap;
  }

  .col-md-4 {
      width: 100%;
  }

  .card {
      margin-bottom: 1rem;
  }

  .p-3 {
      text-align: center;
  }

  .icond {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .icond i {
      font-size: 30px;
  }



  .round-div1,
  .round-div12,
  .round-div13,
  .round-div14 {
      height: 100px;
      width: 100px;
      // border: 7px solid;
      margin: 0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .mt-2 {
      text-align: center;
  }
}



/* Global styles here */

/* Mobile styles */
@media (max-width: 767px) {
  .row-adjustment {
      flex-wrap: wrap;
  }

  .col-xl-4, .col-lg-6, .col-md-6, .col-sm-12 {
      width: 100%;
  }

  .card {
      margin-bottom: 1rem;
  }

  .p-3 {
      text-align: center;
  }

  .icond {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .icond i {
      font-size: 30px;
  }


  .mt-2 {
      text-align: center;
  }
}

