
<div class="container" >

    
    <div class="card m-5 p-3">
       <div class="d-flex justify-content-between ">
        <h3>category List</h3>
        <button routerLink="/add-category" class="btn-cat">Add Category</button>
       </div>
<div class="row justify-content-between mt-4">
    <div class="col-md-3">
        <input type="text" class="form-control search-field" placeholder="Search Here" [(ngModel)]="searchText">

    </div>
</div>
        <div class="card-body table-responsive p-0 mt-4">
            <table class="table  table-striped border-primary table-hover table-bordered  table-sm row-border hover" id="datatableexample">
                <thead>
                <tr class="text-center table-heading" >
                    <th>Sno</th>
                    <th>category</th>
                    <!-- <th>Image</th> -->
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of stocklist |searchFilter:searchText|paginate: { itemsPerPage: calculatedPageSize, currentPage: currentPage } let i=index" class="text-center">
                    <td>{{i+1}}</td>
                    <td>{{ user.categoryname }}</td>
                    <!-- <td><img src="{{user.image}}" width="100px" style="border-radius: 50%;" alt=""></td> -->
                    <td>
                           <span class="edit" (click)="edititem(user._id)"><i class="fa-solid fa-pen-to-square"></i></span> 
                    
                    <span class="delete" (click)="deleteitem(user._id)"><i class="fa-solid fa-trash"></i></span>
                    </td>

                </tr>
                </tbody>
               
            </table>
            <div class="d-flex justify-content-end">
                <div>
               <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
                </div>
        </div>
       
    </div>
    
</div>
