<section class="m-4">
    <div class="container">
        <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-11">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Orders Pending</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-solid fa-dollar-sign clr-w"></i>
  
                            <div _ngcontent-tgt-c43="" class="shape">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-12">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Orders Processing!</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-solid fa-van-shuttle clr-w"></i>
                            <div _ngcontent-tgt-c43="" class="shape s2">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-13">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Orders Completed</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-regular fa-circle-check clr-w"></i>
                            <div _ngcontent-tgt-c43="" class="shape s3">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-12">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Total Products</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-solid fa-cart-shopping  clr-w"></i>
                            <div _ngcontent-tgt-c43="" class="shape s4">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-16">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Total Customers</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-solid fa-user-group clr-w"></i>
                            <div _ngcontent-tgt-c43="" class="shape s5">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row row-adjustment card-17">
                    <div class="col-10">
                        <div class=" p-3">
                            <h5 class="clr-w">Total Posts</h5>
                            <h3 class="clr-w">0</h3>
                            <button>View All</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" p-3 icond">
                            <i class="fa-solid fa-newspaper clr-w"></i>
                            <div _ngcontent-tgt-c43="" class="shape s6">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
         </div>
       
        
       </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card p-3">
                    <div class="round-div1">
                       <h1>1</h1>
                    </div>
                    <div class="mt-2">
                        <h5 class="text-center h5-ro">New Customers</h5>
                        <p class="text-center mb-0">Last 30 Days</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 ">
                <div class="card p-3">
                    <div class="round-div12">
                       <h1>1</h1>
                    </div>
                    <div class="mt-2">
                        <h5 class="text-center h5-ro">Total Customers</h5>
                        <p class="text-center mb-0">Last 360 Days</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card p-3">
                    <div class="round-div13">
                       <h1>1</h1>
                    </div>
                    <div class="mt-2">
                        <h5 class="text-center h5-ro">New Sales</h5>
                        <p class="text-center mb-0">Last 30 Days</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card p-3">
                    <div class="round-div14">
                       <h1>1</h1>
                    </div>
                    <div class="mt-2">
                        <h5 class="text-center h5-ro">Total Sales</h5>
                        <p class="text-center mb-0">Last 360 Days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>