
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// regular style toast
@import 'ngx-toastr/toastr';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary: mat.define-palette(mat.$indigo-palette);
$project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn: mat.define-palette(mat.$red-palette);

$project-info: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-theme: mat.define-light-theme((
  color: (
    primary: $project-primary,
    accent: $project-accent,
    warn: $project-warn,
    info: $project-info,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($project-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop.show {
  --bs-backdrop-opacity: 0.5;
}



//  $red-palette, $pink-palette, $indigo-palette,
  // $purple-palette, $deep-purple-palette, $blue-palette, $light-blue-palette, $cyan-palette,
  // $teal-palette, $green-palette, $light-green-palette, $lime-palette, $yellow-palette,
  // $amber-palette, $orange-palette, $deep-orange-palette, $brown-palette, $grey-palette,
  // $gray-palette, $blue-grey-palette, $blue-gray-palette, $light-theme-background-palette,
  // $dark-theme-background-palette, $light-theme-foreground-palette, $dark-theme-foreground-palette


  .mt-50{
    margin-top: 50px;
}
.form-group{
    margin-top: 18px;
}
label{
    
    padding-bottom: 5px !important;
    font-size: 17px;

}
.form-control{
    font-size: 14px !important;
    border: 1px solid #3f51b5a3 !important;
  }
.form-control:focus{
border-color: #3f51b5a3 !important;
box-shadow: none !important;
}

.edit {
  background: #9d4778;
  padding: 7px 7px;
  color: white;
  border-radius: 4px;
  margin-right: 7px;
}
.delete{
    background: red;
    padding: 7px 7px;
    color: white;
    border-radius: 4px;
}
.table-heading{
  background: rgba(0, 0, 0, 0.87);
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}


// form design

.register-form{

}
.btn-sub{
background:#0a1e3c;
border: none;
width: 100%;
border-radius: 18px;
border:none;
width: 100%;
border-radius: 18px;
span{
  color: white;
}
}
.btn-sub:hover{
  background: linear-gradient(187deg, #A14177, #aa5484, #903a6b, #592442);
  
}
h2 {
  background: #0a1e3c;
  color: white;

  /* border-top-right-radius: 50px; */
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.card {
  // border-radius: 0px 50px;
  box-shadow: 1px 2px 6px #4e4d4b;
  margin-bottom: 5px;
  padding: 0px;
}

td{
vertical-align:middle;
}

// table design
.border-primary {
--bs-border-opacity: 1;
/* border-color: rgba(var(--bs-primary-rgb),var(--bs-border-opacity))!important; */
border-color: #9C27B0 !important;
}
